
/* content site 
=================== */
.content-site{
	color: #ccc;
	width: 85em;
	margin: 0 auto;
}

.content-site::after{
	clear: both;
}
.content-site::before, .content-site::after {
    content: "";
    display: table;
    line-height: 0;
}

/* cont site body */
.content-site-body{
    border-top-style: solid;
    border-top-width: 3px;
	float: left;
	margin-top:50px;
	padding-top:20px;
}

	/* body content left */
	.content-site-body .body-left{
		width: 59em;
	}
	
	/* Overview */
	.body-left .body-left-overview{
		margin-bottom: 20px;
	}
	
		.body-left-overview p{
			margin-top: 20px;
		}
		
	/*Featured Sites*/
	.body-left .feature-content{
		width: 100%;
		border-radius: 8px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		background: #E5E2DE;
		margin: 20px 0px;
		padding: 20px 15px 40px 17px ;
		position: relative;
	}

		.feature-content .imageView{
			margin: 16px;
			box-shadow: -4px -4px  4px -4px #000;
		}
		
		/*arrow of carousel*/
		.feature-content .arrow-carousel{
			border: 3px solid #ffffff;
			color: #ffffff;
			border-radius: 100px;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			background:  #197499 none repeat scroll 0 0;
			font-size: 60px;
			font-weight: 100;
			opacity: 0.5;
			top: 90px;
			line-height: 30px;
			position: absolute;
			margin: 5px 5px 5px 5px;
			width: 40px;
			height: 40px;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
		}
		/*hover arrow of carousel*/
		.feature-content .arrow-carousel:hover{
			opacity: 0.9;
		}
		
			.arrow-carousel .arowright{
				right: 15px;
				left: auto;
			}
			.arrow-carousel .arowleft{
				right: auto;
				left: 15px;
			}
			

		.feature-content .image-groupt{
			margin: 0 auto;
			width: 85%;
		}

		.feature-content .viewall{
			position: absolute;
			left: 48%;
			top: 205px;
			color: #999;
			font-style: italic
		}
		
	/* body-left-love*/
	/*Users love and Developer Love*/
	.body-left .body-left-love{
		margin: 20px 0px;
	}

		.body-left-love .list-love  ul{
			list-style-type: square;
			margin-top: 20px;
		}

		.body-left-love .list-love  li{
			 height : 25px;
			 font-size: 13.5px;
			 margin-left: 15px;
		}


/* body content right */
.content-site-body .body-right{
	width: 19em;
	padding-left: 7em;
	margin-top: 20px;
}

	.body-right .body-right-content{
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background: #E5E2DE;
		padding: 20px 0px 1px 0px;
	}

		.body-right-content .board-black{
			background: #222 none repeat scroll 0 0;
			color: #08c;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			font-size: 12px;
			padding: 10px 10px 20px 10px;
			margin: 0px 12px;
			line-height:20px;
		}
		
		.body-right-content .unstyle{
			list-style: none;
			margin: 25px 15px ;
		}

		.body-right-content .unstyle li{
			height: 50px;
		}

		.body-right-content .unstyle a {
            margin-top: 10px;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #222; 
			background-color: transparent; 
			text-decoration: none;
		}
		
		.body-right-content .unstyle a:hover{
			text-decoration: underline;
			
		}
		
		.body-right-content .unstyle img {
			padding: 7px;
			margin-right: 5px;
			background: #BD362F;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			vertical-align: middle;
		}

	.body-right em{
		font-size: 12px;
		margin-top: 15px;
		font-style: italic;
	}

/*body-bottom*/
/*Recent Mentions*/
.content-site-body  .body-bottom{
	display: inline-block;
	float: left;
}

	.body-bottom .community-block{
		width: 17.5em;
		float: left;
		margin-left: 4.5em;
		margin-top: 10px;
	}
	.body-bottom .community-block-first{
		width: 17.5em;
		float: left;
		margin-top: 10px;
	}
	
/* image forkme in right-top screen */
.forkme-right{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 0px none;
}

